*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    height: 70px;
    background-color: darkslateblue;
    
}
.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    font-size: 1.2rem;
    display: flex;
}
ul li{
    margin-left: 1.5rem;
    list-style: none;
}
ul li a{
    color: orange;
    text-decoration: none;
    cursor: pointer;
}
ul li a .active{
    color: green;
}
.container{
    width: 80%;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
.container h1{
    text-align: center;
    color: white;
}
section{
    height: 350px;
    background-color: #ddd;
}
section p{
    font-family: Arial;
    font-size: 1.5rem;
}